*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(34, 46, 55);
    padding-top: 100px;
    color: #fff;
}

header h1 {
    padding-left: 40%;
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;

}

form {
    display: flex;
    max-width: 640px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 56px;
}

form input {
    text-align: center;
    font-size: 24px;
    background-color: rgb(121, 130, 137);
    border: none;
    border-bottom: 2px solid #000;
    padding: 8px;
    padding-right: 100px;
}


form button {
    background-color: rgba(15, 90, 202, 0.573);
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 8px;
}

input::placeholder {
    color: aliceblue;
}

table {
    width: 100%;
}
table th {
    border-bottom: 2px solid #000;
    padding: 16px;
    font-size: 18px;
    font-weight: bold;
}

table td {  
    padding: 16px 0;
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#cadastrado {
    color: #fff;
    font-size: 18px;
    display: none;
    background-color: green;
    padding: 8px;
    margin-bottom: 8px;
}
